*, *::before, *::after {
	box-sizing: border-box;
}

body {
	padding: 0.5rem;
}

nav {
	display: flex;
	justify-content: space-around;
}

.countryList div {
	display: flex;
	margin: 1rem 0;
	font-size: 20px;
}


ul li {
	list-style-type: none;
	margin-right: 20px;
	text-decoration: none;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 300px;
	margin: 0 auto;
}

form > * {
	height: 3rem;
	margin: 0.5rem;
	padding: 10px 20px;
	align-items: center;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: .25rem;
	box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
	font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}

button.save {
	background-color: dodgerblue;
	color: #fff;
}

button:disabled {
	background-color: #ccc;
}

a:-webkit-any-link {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}